<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306779608954-oc4sj0uo1je69a1hc6olng7pt5fbt7n8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306779608954-oc4sj0uo1je69a1hc6olng7pt5fbt7n8</string>
	<key>API_KEY</key>
	<string>AIzaSyDYcCcJrvfIe491bXNtE9F4BupvoW8nFg8</string>
	<key>GCM_SENDER_ID</key>
	<string>306779608954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventosUesb</string>
	<key>PROJECT_ID</key>
	<string>eventos-uesb</string>
	<key>STORAGE_BUCKET</key>
	<string>eventos-uesb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306779608954:ios:ff774e5d83db9f19c428c3</string>
</dict>
</plist>